@model DepartmentVM

@{
    ViewData["Title"] = SharedLocalizer["Update"];
    ViewData["NameOfTitle"] = SharedLocalizer["Update"];
}



<div class="block-header">
    <h2>@SharedLocalizer["UpdateDepartment"] @Model.Name</h2>
</div>

<form asp-controller="Department" asp-action="Update" class="form-group">

    <div asp-validation-summary="All" class="text-danger"></div>

    @{ await Html.RenderPartialAsync("~/Views/Partials/Department/CreateUpdate"); }

    <center>
        <input type="submit" value="@SharedLocalizer["Update"]" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-success">@SharedLocalizer["Return"]</a>
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-danger" />
    </center>
</form>


@section JaqueryValidation
{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

